#root {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

body {
  background-color: #e7d9d9;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.signup-form input, textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signup-form button {
  background-color: #17053d;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  float: none;
}

.signup-form button:hover {
  opacity: 1;
}

.signup-form .signup-label {
  text-align: center;
}

.signup-form .custom-label {
  display: flex;
}

.signup-form p 
{
  text-align: left !important;
}

.custom-slick-slider img {
  width: 100%;
}

.custom-slick-slider .slick-next {
  right: 0px;
  display: none !important;
}

.custom-slick-slider .slick-prev {
  left: 0px;
  display: none !important;
}

.custom-slick-slider .slick-dots {
  bottom: 10px;
}

.custom-slick-slider .slick-dots li button:before {
  font-size: 13px;
}

.contact-us iframe {
  width: 100%;
  height: 400px;
}


.digital-service {
  width: 100%;
  text-align: center;
  padding: 70px 0px;
}

.digital-service {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin-top: 30px;
}

.digital-service h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.digital-service h1 span {
  font-size: 40px;
  color: #049ad1;
  text-transform: uppercase;
  font-weight: 700;
}

.digital-service h1 {
  font-size: 40px;
  color: #020e4a;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.digital-service h1 span {
  font-size: 40px;
  color: #049ad1;
  text-transform: uppercase;
  font-weight: 700;
}

.digital-service h2 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #aa0e12;
  padding-top: 12px;
  padding-bottom: 12px;
}

.digital-service p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.navbar .nav-item .nav-link
{
    color: #020e4a;
    font-weight: 500;
    font-size: 18px;
}
footer{
  background-color: #17053d;
}

.bg-grow {
  background-image: url(./assets/images/bg-grow.png);
}

#chat-section .chat-main
{
    width: 45%;
    margin: 50px auto;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
}
#chat-section .chat-main .chat-inner
{
  height: 250px;
  overflow-y: auto;
  border: 1px solid rgb(221, 221, 221);
  padding: 5px;
  margin-bottom: 10px;
}

.common-btn {
  background-color: #17053d;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  float: none;
}

.nav-link.active {
  color: #049ad1 !important;
  border-bottom: 2px solid #049ad1;
}

.back-to-top-btn
{
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgb(13, 110, 253);
  color: white;
  border: none;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}
.back-to-top-btn i
{
  position: relative;
  left: -7px;
  top: -5px;
}

.navbar-toggler-icon
{
  background-image: none !important;
}
.navbar-toggler-icon i 
{
  color: #020e4a;
}

@media only screen and (max-width: 991px)
{
  #chat-section .chat-main
  {
      width: 100%;
  }
  .nav-link.active {
    color: #049ad1 !important;
    border-bottom: 0px solid #049ad1;
  }
}